<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/adstyle.css">
    <title>VIZA PAY</title>
</head>
<body>
    <section id="home" >
        <div class="banner"><div id="focus"></div>
          <div class="nav">
            <img src="/static/logo.png" class="logo">
                <ul>
                  <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                  <li><a class="nav-link scrollto" href="#about">About</a></li>
                  <li><a class="nav-link scrollto" href="#services">Services</a></li>
                  <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                  <li><a class="nav-link scrollto" href="#team">Team</a></li>
                  <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
         </div> 
         
         <div class="txt">
          <h1><i>start your banking here!</i></h1>
        </div>
         <div class="content">
           <a href="#user">
            <div class="servicebx up">
                <img src="/static/user.png">
                <h3>Creat user</h3>
            </div></a>
            <a href="#transaction">
            <div class="servicebx up ">
                <img src="/static/wallet.png">
                <h3>make a transaction </h3>
            </div></a>
            <div class="servicebx up">
                <img src="/static/more.png">
                <h3>know more </h3>
            </div>
            
        </div></div>
    </section>
    <section id="user">
        <div class="section">
 <div class="signin">
            <div class="content">
               <form action ="{% url 'add'  %}" method ="post">
                {% csrf_token %}
                <div class="form" >
                    <div class="details">
                        <input name ="Name" type="text" required> <i>Name</i>
                    </div>
                    <div class="details">
                        <input name= "Balance" type="text" required>
                        <i>Balance</i>
                    </div>
                    <div class="details">
                        <input name = "Account_no" type="text" required>
                        <i>Account number</i>
                    </div>
               
                <div class="details">
                    <input type="submit" value="CREAT USER" herf = "">
                </div> </div>
                 </form>
            </div></div>
</div></section>
    <section id="transaction">
    <main class="table">
        <section class="table__header">
            <h1>Customer's Details</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="/static/images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="/static/images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="/static/images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="/static/images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
       
        <div class="table__body">
            <table>
                
                <tbody>
                    <th>ID</th>
                    <th>Account_NO</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Deposit</th>
                    <th>withdraw</th>
                    
                    {% for i in nn%}
                   
                    <tr>
                        <td>  {{forloop.counter}}</td>
                        <td> {{i.Account_no}} </td>
                        <td> {{i.Name}}</td>
                        <td> <strong>{{i.Balance}}  </strong></td>

                        <form action ="{% url 'Edit'  %}" method ="post">
                            {% csrf_token %}
                        <td>
                            <input type="submit" value="Deposit" herf = "" name = "transaction">
                        </td>
                
                        <td>
                            <input type="submit" value="withdraw" herf = "" name = "transaction">
                        </td>
                        
                        </form>
                        
                    </tr>
                    {% endfor %}
                    
                       
                    
                </tbody>
            </table>
        </div>
    </main></section>
    
    </section>
    <script>
        let focus = document.getElementById("focus");

        let focusHalfWidth = focus.offsetWidth / 2;

        document.onmousemove = function (e) {
            focus.style.left = e.pageX - focusHalfWidth + "px";
            focus.style.top = e.pageY - focusHalfWidth + "px";
        }
    </script>
    <script>
        const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr'),
    table_headings = document.querySelectorAll('thead th');

// 1. Searching for specific data of HTML table
search.addEventListener('input', searchTable);

function searchTable() {
    table_rows.forEach((row, i) => {
        let table_data = row.textContent.toLowerCase(),
            search_data = search.value.toLowerCase();

        row.classList.toggle('hide', table_data.indexOf(search_data) < 0);
        row.style.setProperty('--delay', i / 25 + 's');
    })

    document.querySelectorAll('tbody tr:not(.hide)').forEach((visible_row, i) => {
        visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
}

// 2. Sorting | Ordering data of HTML table

table_headings.forEach((head, i) => {
    let sort_asc = true;
    head.onclick = () => {
        table_headings.forEach(head => head.classList.remove('active'));
        head.classList.add('active');

        document.querySelectorAll('td').forEach(td => td.classList.remove('active'));
        table_rows.forEach(row => {
            row.querySelectorAll('td')[i].classList.add('active');
        })

        head.classList.toggle('asc', sort_asc);
        sort_asc = head.classList.contains('asc') ? false : true;

        sortTable(i, sort_asc);
    }
})


function sortTable(column, sort_asc) {
    [...table_rows].sort((a, b) => {
        let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
            second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

        return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
    })
        .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
}
    </script>
</body>
</html>